//example.env file

//store all variables that can vary in development, production and testing environment
PORT = 5000
HOST = localhost
DATABASE_URL = put url of mongodb atlas here 

//generated using uuid
SECRET_KEY = replace it with your own secret key i would prefer generated one using uuid

//Error codes
CLIENT_ERROR_CODE = 400
SERVER_ERROR_CODE = 500
SUCCESS_CODE = 200

//rounds for hashing
ROUNDS = 10

//Expiration Time for JWT
//24 hours in seconds
EXPIRES_IN = 86400